/* Estilo básico para el cuerpo de la página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Contenedor principal */
.content {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Encabezados */
h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 10px;
}

h3 {
  color: #555;
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Estilo para los enlaces dentro del markdown */
a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para las listas */
ul, ol {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}



/* Imágenes */
img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Código */
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 4px;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse; /* Elimina los espacios entre celdas */
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd; /* Bordes ligeros */
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4; /* Fondo gris para los encabezados */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Fondo alternado en filas para mejorar la legibilidad */
}

tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el ratón sobre una fila */
}

/* Ajustes de espaciado */
#markdown-content {
  margin-top: 30px;
}

/* Estilos específicos para los encabezados dentro del markdown */
h1, h2, h3, h4, h5, h6 {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 15px;
}


